<h1 class="page-header">Eat Da Burger!</h1>


<div class="row">
    <div class="col-md-4 col-left">
        <h2>
        <ul>
            {{#each eatenBurgers}}
            <li>{{this.id}} {{this.burger_name}}</li>
            {{/each}}
        </ul>

        </h2>
    </div>
    <div class="col-md-4 col-center">
        Test2
    </div>
    <div class="col-md-4 col-right">
        Test3
    </div>
</div>

<script>
</script>